{% extends 'main.html' %} 

{% block content %}

<main class="formPage my-xl">
  <div class="content-box">
    <div class="formWrapper">
      <h3>Historia chóru</h3>

      <p align="justify">
        Chór Vox Sanctae Margaritae został założony w październiku 2018 roku
        przez Pawła Grabczyńskiego, organistę parafii pw. św. Małgorzaty w
        Dębnie. Od początku funkcjonuje jako chór czterogłosowy i zrzesza ok. 25
        osób. Nazwa odnosi się do patronki parafii, w której zespół wokalny
        działa. Śpiew wielogłosowy w Dębnie posiada tradycję i sięga lat 80 XX
        wieku, gdy powstał chór prowadzony przez Tadeusza Kosibę, ówczesnego
        organistę. Początkowo zespół Vox Sancatae Margaritae skupiał się
        wyłącznie na animacji liturgicznej niedzielnych i świątecznych mszy w
        Dębnie. Pod koniec 2019 roku zorganizowano pierwsze koncerty: chór
        wystąpił z programem maryjnym w Tarnowie, Jadownikach oraz Dębnie.
        Przygotowania do kolejnych występów i planowane 4 koncerty wielkopostne
        zostały odwołane przez wybuch pandemii COVID-19. Okres zamknięcia był
        okazją na samorozwój chórzystów podczas prób prowadzonych zdalnie. Ich
        zwieńczeniem było przygotowanie 4 utworów, do których występujący
        nagrali się w domach. Wszystkie partie zostały następnie połączone.
        Oprócz repertuaru religijnego w projekcie opracowano piosenkę z
        repertuaru Krzysztofa Krawczyka „Za Tobą pójdę jak na bal”. Chór zaczął
        ponownie występować publicznie w zredukowanym składzie ze względu na
        ograniczenia. Narodził się wówczas pomysł śpiewania wielogłosowego wraz
        z ludźmi zgromadzonymi w kościele i powstały pierwsze trzygłosowe
        opracowania pieśni z melodią w głosie męskim. W tej konwencji został
        przygotowany koncert wielkanocny w Sanktuarium Bożego Miłosierdzia w
        Łagiewnikach, który przedstawiciele chóru nagrali w kwietniu 2021 roku
        ze studentami Międzyuczelnianego Instytutu Muzyki Kościelnej w Krakowie.
      </p>

    </div>
  </div>
</main>

{% endblock content %}
